.header{
    overflow: hidden;
    background-color:#4700D8;
    padding: 20px 10px;
    height: 80px;
    width: 100%;
}

.hdesk{
    color: white;
    font-size: 20px;
    display: none;
}
.hdesk y1{
    padding-left: 350px;
}
.hdesk y{
    padding-left: 100px;
}

.hmobile{
    display: none;
    color: white;
}

@media  (min-width: 600px) {
 .hdesk{
     display: inline;
 }
 
}

@media  (max-width: 600px) {
    .hmobile{
        display: inline;
    }
    
   }
   