.header{
    
    
    height: 80px;
    width: 100%;
}
.hdesk1{
    padding-top: 20px;
}
.hdesk{
    font-size: 20px;
    display: none;
    
}
.hdesk y1{
    padding-left: 300px;
}
.hdesk y{
    padding-left: 100px;
}

.hmobile{
    display: none;
    
}
.hmobile .barm{
    padding-left: 90%;
}

.mdr{
    text-align: center;
    overflow: visible;
    background-color: #4700D8;
   font-size: 16px;
    height: auto;
    width: 100%;
    
}

@media  (min-width: 600px) {
 .hdesk{
     display: inline;
 }
 
}

@media  (max-width: 600px) {
    .hmobile{
        display: inline;
    }
    
   }
   